<mat-card class="pad-bottom-xs sin-margen-padding">
  <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading"></mat-progress-bar>
  <mat-card-header>
    <h3 class="pad-left-sm substitulo">Desafio</h3>
  </mat-card-header>
  <mat-card-content>
    <div style="justify-content: space-around">
    </div>
    <mat-divider></mat-divider>
    <div class="titulo">
      <mat-label>Buscador </mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </div>
      <mat-table #table [dataSource]="valueList">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <ng-container matColumnDef="title">
        <mat-header-cell class="titulo" *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="body">
        <mat-header-cell class="titulo" *matHeaderCellDef>Body</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.body }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="userId">
      <mat-header-cell class="titulo" *matHeaderCellDef>UserId</mat-header-cell>
      <mat-cell *matCellDef="let element" class="titulo"> {{ element.userId }} </mat-cell>
    </ng-container>

      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="operModal(row)"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    <div *ngIf="!hayOperaciones">
      <app-empty-list-pattern
        [show]="!hayOperaciones"
        [hideMainButton]="true"
        message="No se encuentran errores."
        messageIfFilters="No se datos."
      ></app-empty-list-pattern>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <button type="button" (click)="AgregarPosts()">Agregar Posts</button>
</mat-card>
